<<<<<<< Updated upstream
<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>
=======
<body class="bg1">
	<div id="clearance" class="sign-in well text-center">
	  <h2><%= t(".title") %> to continue</h2>
>>>>>>> Stashed changes

	  <%= render partial: '/sessions/form' %>

	</div>
</body>
