<div class="container">
	<div>Your Reservation</div>

	<div id="" class="error">
		<!-- Display error messages if any -->
		<% if @reservation.errors.any? %>
			<ul>
				<% @reservation.errors.full_messages.each do |message| %>
					<li><%= message%></li>
				<% end %>
			</ul>

		<% end %>
	</div>

	<div class="row">
		<% listing = @reservation.listing %>

		<!-- Listing image -->
		<div class="col-lg-2">
			<% if listing.images? %>
				<%= image_tag listing.images[0].url.to_s, class: 'img-responsive' %>
			<% else %>
				<img src="" alt="">
			<% end %>
		</div>

		<!-- Listing title -->
		
	</div>

</div>

