.listing-feed {
	margin-top: 20px;
	img {
		height: 200px;
		width: 100%;
		display: block;
	}
	.listings-item-title {
		font-size: 15px;
		font-weight: 700;
	}
}

.listing-title {
	font-size: 36px;
	font-weight: 700;
}
.listing-address {
	font-size: 17px;
	font-weight: 300;
}
.listing-price {
	font-size: 22px;
	font-weight: 700;
}
.listing-host {
	font-size: 28px;
	font-weight: 700;
}

.new-listing-form {
	width: 55%;
	margin: 0 auto;
	.nested-row:not(:last-child) {
		margin-bottom: 15px;
	}
	.nested-row:after {
		content: " ";
		display: block;
		clear: both;
	} 
	.nested-col {
		padding: 0;
	}
	.nested-col-left {
		padding-right: 5px;
	}
	.nested-col-right {
		padding-left: 5px;
	}
}