body {
  margin: 0;
  padding-top: 60px;
}

.bg1 {
  background: {
    image: asset-url("sylwia-pietruszka-218324.jpg");
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
    position: center bottom;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}