<<<<<<< Updated upstream
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
=======
.edit-profile {
  width: 66.67%;
  margin: 0 auto;
  .panel-heading {
    font-weight: bold;
  }
}

.sign-up {
  h2 {
    color: $gray-light;
  }
  width: 300px;
  margin: 0 auto;
}
>>>>>>> Stashed changes
