<footer class="footer">
  <small>
    coded by <a href="https://github.com/leesc22" target="_blank">Lee Siew Ching</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>